# Large PCAP files
*.pcap

# Jupyter Notebook
.ipynb_checkpoints/
*.ipynb_checkpoints

# Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE and editor files
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Virtual environments
venv/
env/
ENV/
